argparse~=1.4.0
matplotlib~=3.7.1
networkx==3.1
numpy~=1.24.3
pandas==2.0.1
pyclustering~=0.10.1.2
scikit-learn~=1.2.2
scipy==1.10.1
seaborn~=0.12.2
setuptools==67.7.2
biopython~=1.59
nltk~=3.8.1
fastcluster~=1.2.6
wordcloud~=1.9.2
prince~=0.10.5
logomaker~=0.8
nglview~=2.7.7
IPython~=8.14.0